<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about </title>
    <link rel="icon" href="/images/weather.png">
<link rel="stylesheet" href="/css/style1.css">
<link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div class="main">
    {{>header}}
    <img src="/images/me.png" alt="this is me" class="poterate">
    </div>
{{>footer}}
</body>
</html>