<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> weather app</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <main>
<form >
    <input type="text" name="text" id="location" placeholder="enter yur location">
<button> Search </button>    
</form>
<div>
    <p id="msg1"></p>
    <p id="msg2"></p>
</div>
    </main>

{{>footer}}
        <script src="/js/app.js"></script>
        {{!-- <script src="/js/app2.js"></script> --}}
</body>
</html>